# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directory
/Build/*

# bin directory
/bin/*

# Visual Studio output
/vc/vc/*

# MingGW build directory
/MingGW/*
/MinGW64/*

# Doxygen output
/docs/html/*
/docs/doxygen/*

# My vscode config
.vscode

# KCov output
/tests/kcov/*

# Some of my personal scripts
/myScripts/*
